<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/style3.css" />
    <link rel="stylesheet" href="/webfonts/all.css" />
    <link rel="stylesheet" href="/css/glide.core.min.css" />
    <link rel="stylesheet" href="/css/glide.theme.min.css" />

    <title>{{title}}</title>
</head>

<body>
    <div class="container" id="container">
        <header>
            <div class="container-box">
                <div class="header-contents">
                    <div class="logo">
                        <h1>Student-Tutors</h1>
                    </div>

                    <nav class="big-nav">
                        <div class="buttons-big">
                            <div class="trending">
                                <a href="#">Trending Topics</a>
                            </div>
                            <div class="recent-posts">
                                <a href="#">Recent Topics</a>
                            </div>

                            <div class="login">
                                <a href="/user/login" id="login">Login</a>
                            </div>

                            <div class="register">
                                <a href="/user/register" class="registerbutton" id="register">Sign Up</a>
                            </div>
                        </div>
                    </nav>
                    <div class="bar" id="bar">
                        <i class="fas fa-bars"></i>
                    </div>
                </div>
                <nav class="interactives" id="menu">
                    <div class="buttons">
                        <button class="trending">
                            <a href="http://">Trending Topics</a>
                        </button>
                        <button class="recent-posts">
                            <a href="http://">Recent Topics</a>
                        </button>
                        <button class="login"><a href="/user/login" id="login1">Login</a></button>
                        <button class="register">
                            <a href="/user/register" class="registerbutton" id="register1">Sign Up</a>
                        </button>
                    </div>
                </nav>
            </div>
        </header>

        {{{body}}}

        <footer>
            <div class="social-media">
                <div class="copyright">
                    <a href="http://"><span>Cookies Policy</span></a>
                    <a href="http://"><span>Privacy Policy</span></a>
                    <a href="http://"><span>Terms</span></a>
                    <a href="http://"><span>Help Center</span></a>
                </div>
                <div class="icons">
                    <a href="http://"><i class="fab fa-github"></i></a>
                    <a href="http://"><i class="fab fa-twitter"></i></a>
                    <a href="http://"><i class="fab fa-linkedin-in"></i></a>
                    <p class="copy">&copy; <i id="date"></i> StudentTutors</p>
                    <p class="ackng">Made with &#x1f49c; by<a href="http://"> Elik</a></p>
                </div>
            </div>
    </div>
    </footer>
    </div>

    <script src="/glide.js"></script>

    <script>
        const bar = document.getElementById('bar');
        const menu = document.getElementById('menu');
        const year = document.getElementById('date');
        const login = document.getElementById('login');
        const loginCopy = document.getElementById('login1');
        const login3 = document.getElementById('login2');
        const register = document.getElementById('register');
        const registerCopy = document.getElementById('register1');
        const register3 = document.getElementById('register2');
        const registerBox = document.getElementById('registration');
        const registerBox2 = document.getElementById('registration2');

        const options = {
            type: 'carousel',
            perView: 3,
            startAt: 0,
            breakpoints: {
                800: {
                    perView: 2
                },
                600: {
                    perView: 1
                }
            }
        };
        new Glide('.glide', options).mount();

        let output = new Date().getFullYear();
        year.innerHTML = output;
        year.style.color = '#ffffff';

        const style = () => {
            menu.classList.toggle('active');
        };
        bar.addEventListener('click', () => {
            style();
        });
        window.addEventListener('load', () => {
            registerBox2.style.display = 'block';
        })
        login.addEventListener('click', () => {
            registerBox.style.display = 'block';
            registerBox2.style.display = 'none';
        });

        loginCopy.addEventListener('click', () => {
            registerBox.style.display = 'block';
            registerBox2.style.display = 'none';
        });
        login3.addEventListener('click', () => {
            registerBox.style.display = 'block';
            registerBox2.style.display = 'none';
        });
        register.addEventListener('click', () => {
            registerBox2.style.display = 'block';
            registerBox.style.display = 'none';
        });
        registerCopy.addEventListener('click', () => {
            registerBox2.style.display = 'block';
            registerBox.style.display = 'none';
        });
        register3.addEventListener('click', () => {
            registerBox2.style.display = 'block';
            registerBox.style.display = 'none';
        });
        window.addEventListener('click', event => {
            if (event.target == registerBox) {
                registerBox.style.display = 'none';
            }
            if (event.target == registerBox2) {
                registerBox2.style.display = 'none';
            }
            if (event.target == menu) {
                menu.classList.remove('active');
            }
        });

    </script>
</body>

</html>