<section class="findTutorPage">
    <div class="container-box">
        <div class="searchSpace">
            <form action="#" method="get">
                <label for="search">
                    <input type="search" name="searchTutor"
                        placeholder="Millions of topics by tutors and students... " />
                </label>
                <button type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </form>
            <aside class="tags">
                <small>Suggested:</small>
                <small class="list">Topics</small>
                <small class="list">Level</small>
                <small class="list">Tutor</small>
                <small class="list">Category</li>
            </aside>
        </div>

        <div class="section2">
            <div class="posts">
                <h1 class="heading">
                    Recent Posts
                </h1>
                <div class="post">
                    <div class="eachposts">
                        <p class="topic"> <small class="gt">&gt;&gt;</small>Lorem ipsum dolor sit amet, consectetur
                            adipisicing elit. Accusantium necessitatibus doloribus veniam!</p>
                        <p class="hidden"><small>Category: lorem </small> <small>Level: lorem Date: feb 19,2020</small>
                        </p>
                        <p class="postBody">
                            Anyone to Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Ducimus modi itaque error beatae sequi consectetur
                            dolorem quod tempora minus, perferendis necessitatibus velit
                            eos voluptatibus adipisci maxime, ut quibusdam. Alias,
                            deserunt?
                        </p>
                    </div>
                    <div class="eachposts">
                        <p class="topic"> <small class="gt">&gt;&gt;</small>Lorem ipsum dolor sit amet, consectetur
                            adipisicing elit. Accusantium necessitatibus doloribus veniam!</p>
                        <p class="hidden"><small>Category: lorem </small> <small>Level: lorem Date: feb 19,2020</small>
                        </p>
                        <p class="postBody">
                            Anyone to Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Ducimus modi itaque error beatae sequi consectetur
                            dolorem quod tempora minus, perferendis necessitatibus velit
                            eos voluptatibus adipisci maxime, ut quibusdam. Alias,
                            deserunt?
                        </p>
                    </div>
                    <div class="eachposts">
                        <p class="topic"> <small class="gt">&gt;&gt;</small>Lorem ipsum dolor sit amet, consectetur
                            adipisicing elit. Accusantium necessitatibus doloribus veniam!</p>
                        <p class="hidden"><small>Category: lorem </small> <small>Level: lorem Date: feb 19,2020</small>
                        </p>
                        <p class="postBody">
                            Anyone to Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Ducimus modi itaque error beatae sequi consectetur
                            dolorem quod tempora minus, perferendis necessitatibus velit
                            eos voluptatibus adipisci maxime, ut quibusdam. Alias,
                            deserunt?
                        </p>
                    </div>
                    <div class="eachposts">
                        <p class="topic"> <small class="gt">&gt;&gt;</small>Lorem ipsum dolor sit amet, consectetur
                            adipisicing elit. Accusantium necessitatibus doloribus veniam!</p>
                        <p class="hidden"><small>Category: lorem </small> <small>Level: lorem Date: feb 19,2020</small>
                        </p>
                        <p class="postBody">
                            Anyone to Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Ducimus modi itaque error beatae sequi consectetur
                            dolorem quod tempora minus, perferendis necessitatibus velit
                            eos voluptatibus adipisci maxime, ut quibusdam. Alias,
                            deserunt?
                        </p>
                    </div>
                </div>
            </div>

            <div class="availableT">


                <div class="categories">
                    <h1 class="heading">
                        Available Tutors
                    </h1>
                    <p class="category maths">MATHEMATICS</p>
                    <p class="category eng">ENGLISH</p>
                    <p class="category tech">TECHNOLOGY</p>
                    <p class="category sci">SCIENCE</p>
                    <p class="category health">HEALTH</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="testimonials">
    <div class="container-box">
        <h1 class="heading center">Testimonials</h1>
        <div class="underline"></div>
        <div class="eachTestimonial">
            <p class="previous">&lArr;</p>
            <blockquote>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse sit
                aspernatur officiis repellat animi deleniti obcaecati, optio,
                nobis eligendi quidem, neque ipsum suscipit! Facilis, quas
                praesentium explicabo possimus nemo architecto.
                <p class="name">
                    <small class="name1">welcome world, </small>
                    <small class="name2"> Webtutors Secondary School </small>
                </p>

            </blockquote>
            <p class="next">&rArr;</p>
        </div>
    </div>
</section>